.jumbotron {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #EBCB8B;
}

.display-4 {
    color: #646464;
}

.lead {
    color: #646464;
}

.container-root {
    text-align: center;
}
